#mega-menu-wrap-main-nav #mega-menu-main-nav > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item {
	padding:0.5em 1em;
}

#mega-menu-wrap-main-nav #mega-menu-main-nav > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item {
	width:50%;
}

#mega-menu-wrap-main-nav #mega-menu-main-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-1-of-3 {
    width: 33.33333%;
}

#mega-menu-wrap-main-nav #mega-menu-main-nav > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-columns-1-of-4 {
	width:25.0%;

}

#mega-menu-wrap-main-nav #mega-menu-main-nav > li.mega-menu-flyout ul.mega-sub-menu {
	width:200px !important;
	li.mega-menu-item {
		width:auto !important;
	}
}

.halves {
	display:inline-block;
	margin-right:4.5%;
	vertical-align: top;
	min-width:300px;
	width:45%;
}
.halves-grid {
	margin-bottom:1em;
}
